@import "../base";

.agb-gepark-heading,
html body .agb-gepark-heading,
html body .content-wrap .gepark-heading {
	display: flex;
	align-items: center;
	line-height: 1.1;

	&.bordered {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #999999;
	}

	&.heading {//default color scheme
		margin: 0 0 8px 0;
		padding: 0 0 8px 0;
		color: #314f5e;
		border-color: #314f5e;
	}
	&.subheading {//default color scheme
		margin: 0 0 5px 0;
		padding: 0 0 5px 0;
		color: #218cc0;
		border-color: #218cc0;
	}

	&.color-scheme--blue {
		color: #8ed1fc;
		border-color: #8ed1fc;
	}
	&.color-scheme--green {
		color: rgba(89, 177, 144, 1.0);
		border-color: rgba(89, 177, 144, 1.0);
	}
	&.color-scheme--red {
		color: rgba(238, 41, 71, 1.0);
		border-color: rgba(238, 41, 71, 1.0);
	}
	&.color-scheme--orange {
		color: rgba(243, 113, 33, 1.0);
		border-color: rgba(243, 113, 33, 1.0);
	}

	.icon {
		font-size: 1.125em;

		&.position--left {
			order: 1;
			margin-right: 5px;
		}

		&.position--right {
			order: 3;
			margin-left: 5px;
		}
	}

	> span {
		order: 2;
	}
}
