@import "../base";

.agb-gepark-button,
html body .agb-gepark-button,
html body .content-wrap .gepark-button {
	display: inline-flex;
	align-items: center;
	padding: .667em 1.333em;
	margin-bottom: 10px;
	font-size: 1.125em;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 1.55em;
	box-shadow: none;
	cursor: pointer;
	overflow-wrap: break-word;
	color: #ffffff;
	background-color: #8ed1fc;
	transition: 300ms all linear;

	&:hover {
		background-color: #7cb8de;
	}

	&.color-scheme--blue {
		color: #ffffff;
		background-color: #8ed1fc;

		&:hover {
			background-color: rgba(33, 141, 192, 1.0);
		}
	}

	&.color-scheme--green {
		color: #ffffff;
		background-color: rgba(89, 177, 144, 1.0);

		&:hover {
			background-color: rgba(56, 123, 99, 1.0);
		}
	}

	&.color-scheme--red {
		color: #ffffff;
		background-color: rgba(238, 41, 71, 1.0);

		&:hover {
			background-color: rgba(200, 27, 53, 1.0);
		}
	}

	&.color-scheme--orange {
		color: #ffffff;
		background-color: rgba(243, 113, 33, 1.0);

		&:hover {
			background-color: darken(rgba(243, 113, 33, 1.0), 15%);
		}
	}

	.icon {
		font-size: 1.125em;

		&.position--left {
			order: 1;
			margin-right: 8px;
		}

		&.position--right {
			order: 3;
			margin-left: 8px;
		}
	}

	> span {
		order: 2;
	}
}
