@import "../base";

.agb-stat-blocks,
.stat-blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 32px;
	padding: 24px 17px;
	background-color: $white;

	@include respond-above(desktop) {
		margin-bottom: 0;
		padding: 40px;
	}

	.stat-block {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 20px;

		@include respond-above(desktop) {
			max-width: 297px;
			margin-bottom: 40px;
		}

		&:not(:last-child) {
			margin-right: 10px;
		}
		&:not(:first-child) {
			margin-left: 10px;
		}

		> .icon {
			font-size: 70px;
			margin-bottom: 5px;
			color: #314f5e;
		}

		.stat {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: baseline;
			margin-bottom: 10px;
			//font-family: $fontSecondary; //TODO: Invex09
			line-height: 100%;
			font-style: normal;
			font-weight: 700;
			text-align: center;
			color: #314f5e;
			@include fluid-type($browserMinWidth, $browserMaxWidth, 48px, 80px);

			span.unit {
				@include fluid-type($browserMinWidth, $browserMaxWidth, 32px, 53px);
				line-height: 1.0;
			}
		}

		.description {
			//font-family: $fontPrimary; //TODO: Invex09
			font-style: normal;
			font-weight: 700;
			line-height: 110%;
			text-align: center;
			color: #314f5e;
			@include fluid-type($browserMinWidth, $browserMaxWidth, 12px, 20px);

			//@include respond-above(desktop) {
			//	opacity: 0.7;
			//}
		}
	}

	&.no-icons {
		.stat-block > .icon.placeholder {
			display: none !important;
		}
	}

	&.has-icons {
		.stat-block > .icon.placeholder {
			opacity: 0 !important;
		}
	}
}

body.browser-ie {

	.stat-blocks {
		.stat-block {
			flex: 1 1 auto;

			> * {
				max-width: 100%;
			}
		}
	}
}
