/* Border Radius Mixin */
/* Placeholder Colors */
/* Header Adjustment */
/* Create Responsive Type */
.agb-gepark-heading,
html body .agb-gepark-heading,
html body .content-wrap .gepark-heading {
  display: flex;
  align-items: center;
  line-height: 1.1; }
  .agb-gepark-heading.bordered,
  html body .agb-gepark-heading.bordered,
  html body .content-wrap .gepark-heading.bordered {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999999; }
  .agb-gepark-heading.heading,
  html body .agb-gepark-heading.heading,
  html body .content-wrap .gepark-heading.heading {
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    color: #314f5e;
    border-color: #314f5e; }
  .agb-gepark-heading.subheading,
  html body .agb-gepark-heading.subheading,
  html body .content-wrap .gepark-heading.subheading {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    color: #218cc0;
    border-color: #218cc0; }
  .agb-gepark-heading.color-scheme--blue,
  html body .agb-gepark-heading.color-scheme--blue,
  html body .content-wrap .gepark-heading.color-scheme--blue {
    color: #8ed1fc;
    border-color: #8ed1fc; }
  .agb-gepark-heading.color-scheme--green,
  html body .agb-gepark-heading.color-scheme--green,
  html body .content-wrap .gepark-heading.color-scheme--green {
    color: #59b190;
    border-color: #59b190; }
  .agb-gepark-heading.color-scheme--red,
  html body .agb-gepark-heading.color-scheme--red,
  html body .content-wrap .gepark-heading.color-scheme--red {
    color: #ee2947;
    border-color: #ee2947; }
  .agb-gepark-heading.color-scheme--orange,
  html body .agb-gepark-heading.color-scheme--orange,
  html body .content-wrap .gepark-heading.color-scheme--orange {
    color: #f37121;
    border-color: #f37121; }
  .agb-gepark-heading .icon,
  html body .agb-gepark-heading .icon,
  html body .content-wrap .gepark-heading .icon {
    font-size: 1.125em; }
    .agb-gepark-heading .icon.position--left,
    html body .agb-gepark-heading .icon.position--left,
    html body .content-wrap .gepark-heading .icon.position--left {
      order: 1;
      margin-right: 5px; }
    .agb-gepark-heading .icon.position--right,
    html body .agb-gepark-heading .icon.position--right,
    html body .content-wrap .gepark-heading .icon.position--right {
      order: 3;
      margin-left: 5px; }
  .agb-gepark-heading > span,
  html body .agb-gepark-heading > span,
  html body .content-wrap .gepark-heading > span {
    order: 2; }
