/* Border Radius Mixin */
/* Placeholder Colors */
/* Header Adjustment */
/* Create Responsive Type */
.agb-gepark-button,
html body .agb-gepark-button,
html body .content-wrap .gepark-button {
  display: inline-flex;
  align-items: center;
  padding: .667em 1.333em;
  margin-bottom: 10px;
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 1.55em;
  box-shadow: none;
  cursor: pointer;
  overflow-wrap: break-word;
  color: #ffffff;
  background-color: #8ed1fc;
  transition: 300ms all linear; }
  .agb-gepark-button:hover,
  html body .agb-gepark-button:hover,
  html body .content-wrap .gepark-button:hover {
    background-color: #7cb8de; }
  .agb-gepark-button.color-scheme--blue,
  html body .agb-gepark-button.color-scheme--blue,
  html body .content-wrap .gepark-button.color-scheme--blue {
    color: #ffffff;
    background-color: #8ed1fc; }
    .agb-gepark-button.color-scheme--blue:hover,
    html body .agb-gepark-button.color-scheme--blue:hover,
    html body .content-wrap .gepark-button.color-scheme--blue:hover {
      background-color: #218dc0; }
  .agb-gepark-button.color-scheme--green,
  html body .agb-gepark-button.color-scheme--green,
  html body .content-wrap .gepark-button.color-scheme--green {
    color: #ffffff;
    background-color: #59b190; }
    .agb-gepark-button.color-scheme--green:hover,
    html body .agb-gepark-button.color-scheme--green:hover,
    html body .content-wrap .gepark-button.color-scheme--green:hover {
      background-color: #387b63; }
  .agb-gepark-button.color-scheme--red,
  html body .agb-gepark-button.color-scheme--red,
  html body .content-wrap .gepark-button.color-scheme--red {
    color: #ffffff;
    background-color: #ee2947; }
    .agb-gepark-button.color-scheme--red:hover,
    html body .agb-gepark-button.color-scheme--red:hover,
    html body .content-wrap .gepark-button.color-scheme--red:hover {
      background-color: #c81b35; }
  .agb-gepark-button.color-scheme--orange,
  html body .agb-gepark-button.color-scheme--orange,
  html body .content-wrap .gepark-button.color-scheme--orange {
    color: #ffffff;
    background-color: #f37121; }
    .agb-gepark-button.color-scheme--orange:hover,
    html body .agb-gepark-button.color-scheme--orange:hover,
    html body .content-wrap .gepark-button.color-scheme--orange:hover {
      background-color: #bd4e0a; }
  .agb-gepark-button .icon,
  html body .agb-gepark-button .icon,
  html body .content-wrap .gepark-button .icon {
    font-size: 1.125em; }
    .agb-gepark-button .icon.position--left,
    html body .agb-gepark-button .icon.position--left,
    html body .content-wrap .gepark-button .icon.position--left {
      order: 1;
      margin-right: 8px; }
    .agb-gepark-button .icon.position--right,
    html body .agb-gepark-button .icon.position--right,
    html body .content-wrap .gepark-button .icon.position--right {
      order: 3;
      margin-left: 8px; }
  .agb-gepark-button > span,
  html body .agb-gepark-button > span,
  html body .content-wrap .gepark-button > span {
    order: 2; }
