/* Border Radius Mixin */
/* Placeholder Colors */
/* Header Adjustment */
/* Create Responsive Type */
.agb-stat-blocks,
.stat-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 32px;
  padding: 24px 17px;
  background-color: #FFFFFF; }
  @media (min-width: 1099px) {
    .agb-stat-blocks,
    .stat-blocks {
      margin-bottom: 0;
      padding: 40px; } }
  .agb-stat-blocks .stat-block,
  .stat-blocks .stat-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px; }
    @media (min-width: 1099px) {
      .agb-stat-blocks .stat-block,
      .stat-blocks .stat-block {
        max-width: 297px;
        margin-bottom: 40px; } }
    .agb-stat-blocks .stat-block:not(:last-child),
    .stat-blocks .stat-block:not(:last-child) {
      margin-right: 10px; }
    .agb-stat-blocks .stat-block:not(:first-child),
    .stat-blocks .stat-block:not(:first-child) {
      margin-left: 10px; }
    .agb-stat-blocks .stat-block > .icon,
    .stat-blocks .stat-block > .icon {
      font-size: 70px;
      margin-bottom: 5px;
      color: #314f5e; }
    .agb-stat-blocks .stat-block .stat,
    .stat-blocks .stat-block .stat {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      margin-bottom: 10px;
      line-height: 100%;
      font-style: normal;
      font-weight: 700;
      text-align: center;
      color: #314f5e; }
      .agb-stat-blocks .stat-block .stat,
      .stat-blocks .stat-block .stat {
        font-size: 48px ; }
        @media screen and (min-width: 320px) {
          .agb-stat-blocks .stat-block .stat,
          .stat-blocks .stat-block .stat {
            font-size: calc(48px + 32 * ((100vw - 320px) / 1120)) ; } }
        @media screen and (min-width: 1440px) {
          .agb-stat-blocks .stat-block .stat,
          .stat-blocks .stat-block .stat {
            font-size: 80px ; } }
      .agb-stat-blocks .stat-block .stat span.unit,
      .stat-blocks .stat-block .stat span.unit {
        line-height: 1.0; }
        .agb-stat-blocks .stat-block .stat span.unit,
        .stat-blocks .stat-block .stat span.unit {
          font-size: 32px ; }
          @media screen and (min-width: 320px) {
            .agb-stat-blocks .stat-block .stat span.unit,
            .stat-blocks .stat-block .stat span.unit {
              font-size: calc(32px + 21 * ((100vw - 320px) / 1120)) ; } }
          @media screen and (min-width: 1440px) {
            .agb-stat-blocks .stat-block .stat span.unit,
            .stat-blocks .stat-block .stat span.unit {
              font-size: 53px ; } }
    .agb-stat-blocks .stat-block .description,
    .stat-blocks .stat-block .description {
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      text-align: center;
      color: #314f5e; }
      .agb-stat-blocks .stat-block .description,
      .stat-blocks .stat-block .description {
        font-size: 12px ; }
        @media screen and (min-width: 320px) {
          .agb-stat-blocks .stat-block .description,
          .stat-blocks .stat-block .description {
            font-size: calc(12px + 8 * ((100vw - 320px) / 1120)) ; } }
        @media screen and (min-width: 1440px) {
          .agb-stat-blocks .stat-block .description,
          .stat-blocks .stat-block .description {
            font-size: 20px ; } }
  .agb-stat-blocks.no-icons .stat-block > .icon.placeholder,
  .stat-blocks.no-icons .stat-block > .icon.placeholder {
    display: none !important; }
  .agb-stat-blocks.has-icons .stat-block > .icon.placeholder,
  .stat-blocks.has-icons .stat-block > .icon.placeholder {
    opacity: 0 !important; }

body.browser-ie .stat-blocks .stat-block {
  flex: 1 1 auto; }
  body.browser-ie .stat-blocks .stat-block > * {
    max-width: 100%; }
