body#tinymce.wp-editor a.pdf, body#tinymce.wp-editor span.pdf {
    color: #DE4830;
    display: inline-block;
    padding-left: 24px;
    line-height: 21px;
    background: url(assets/images/icon-pdf.png) no-repeat left top;
}

body#tinymce.wp-editor ul.pdf {
    list-style: none;
    margin-left: 15px;
    padding-left: 0;
}

body#tinymce.wp-editor ul.pdf li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

body#tinymce.wp-editor ul.pdf li a {
    color: #DE4830;
    display: inline-block;
    line-height: 21px;
    background: url(assets/images/icon-pdf.png) no-repeat left top;
    padding-left: 24px;
}