/*
	Theme Name: Glen Ellyn Park District
	Description: WP Theme for Glen Ellyn Park District
	Version: 1.0
	Author: Invex Design
	Author URI: https://www.invexdesign.com
*/

/* ----- PRESETS ----- */

body, header, footer, div, h1, h2, h3, h4, h5, p, img { display:block;margin:0;padding:0; }
a img { border:none; }
a { cursor:pointer; }
table, table td, table th { border-collapse:collapse; }
map, area { border:none; }
.alignright { float:right; margin:0 0 10px 25px; padding:0; }
.alignleft { float:left; margin:0 25px 10px 0; padding:0; }
.aligncenter { text-align:center; }

body {
    margin: 0;
    padding: 0;
    background: url(images/bg_body.gif) repeat top left;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: #333;
}

/* ----- EMERGENCY ----- */
#emergency {
    /*border: 5px solid rgba(204,28,34,1.0);
    background-color: rgba(204,28,34,0.3);*/
    background-color: #ddb023;
    margin: 0;
    padding: 0;
}
#emergency .inner-wrap {
    width: 80%;
    padding: 1.0em;
    margin: 0 auto;
    text-align: center;
}
#emergency h1, #emergency h2, #emergency h3 {
    color: #333;
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0;
}
#emergency h4, #emergency h5, #emergency h6 {
    color: #333;
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 0;
}
#emergency p {
    font-size: 13px;
    line-height: 18px;
    color: #464646;
}
#emergency a {
    color: rgba(33,141,192,1.0);
}

/* ----- HEADER ----- */
.head-wrap {
    width:100%;
    background: #FFF;
    border-bottom: 2px solid rgba(33,141,192,1.0);
}
header {
    width: 1000px;
    margin: 0 auto;
    height: 152px;
    position: relative;
    background: #FFF;
}
header h1 {
    text-indent: -100000em;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 17px;
    left: 0px;
    width: 108px;
    height: 119px;
    background: url(images/glen-ellyn-park-district-logo.png) no-repeat top left;
    z-index: 9989;
}
header h1 a {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    width: 108px;
    height: 119px;
    outline: none;
}

/* -- Meta -- */
.meta {
    display: flex;
    width: auto;
    height: 32px;
    background: rgba(89,177,144,1.0);
    margin: 0;
    position: relative;
    float: right;
}
.meta::before, .meta::after {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
}
.meta::before {
    border-top: 32px solid rgba(89,177,144,1.0);
    border-left: 58px solid transparent;
    left: -58px;
}
.meta::after{
    border-top: 32px solid rgba(89,177,144,1.0);
    border-right: 58px solid transparent;
    right: -58px;
}
.meta ul.social {
    margin: 0;
    padding: 0 0 0 3px;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-content: space-between;
}
.meta ul.social li {
    margin: 0 12px 0 0;
    padding: 0;
    background: rgba(89,177,144,1.0);
}
.meta ul.social li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
}
.meta ul.social li a i {
    opacity:0.75;
    color: #FFF;
    font-size: 24px;
}
.meta ul.social li a:hover i {
    opacity:1.0;
}
.meta ul.meta-nav {
    display: inline-flex;
    list-style: none;
    margin: 0 15px;
    padding: 0;
}
.meta ul.meta-nav li {
    margin: 0;
    padding: 0;
}
.meta ul.meta-nav li a:link, .meta ul.meta-nav li a:visited {
    display: block;
    height: 100%;
    line-height: 32px;
    padding: 0 10px;
    font-size: 11px;
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
.meta ul.meta-nav li a:hover, .meta ul.meta-nav li a:active {
    background: #506a15;
}
.meta #searchform {
    margin: 6px 0 0 0;
    padding: 0 5px 0 0;
    height: 18px;
    border: 1px solid #FFF;
    background: rgba(255,255,255,0.15);
    width: 172px;
}
.meta #searchform #s {
    display: block;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: rgba(255,255,255,0.66);
    padding: 1px 6px;
    /*width: 138px;*/
    width: 145px;
    float: left;
    border: none;
    background: none;
}
.meta #searchform #search-btn {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

@media only screen and (max-width: 499px) {
    .meta {
        max-width: 100%;
        width: 100% !important;
        overflow: hidden;
    }
    .meta::before, .meta::after {
        display: none;
    }
    .meta ul.meta-nav li a {
        padding: 0 7px;
        font-size: 10px;
    }
}

/* -- Callouts -- */
.callouts {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    position: absolute;
    right: 17px;
    top: 40px;
}
.callouts a {
    display: block;
    width: 178px;
    height: 34px;
    color: #FFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
    cursor: pointer;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
}
.callouts a span {
    display:inline-block;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
}
a.activity-guide:link, a.activity-guide:visited {
    /*background: rgba(34,147,197,0.7);*/
    margin-right: 8px;
}
a.activity-guide:hover, a.activity-guide:active {
    /*background: rgba(34,147,197,1.0);*/
}
a.register-now:link, a.register-now:visited {
    /*background: rgba(133,164,61,0.7);*/
}
a.register-now:hover, a.register-now:active {
    /*background: rgba(133,164,61,1.0);*/
}

/* -- Main Nav -- */
header nav {
    display: flex;
    position: relative;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
header nav::before, nav::after {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 0;
    content: '';
}
header nav::before {
    border-bottom: 9px solid rgba(33,141,192,1.0);
    border-left: 58px solid transparent;
    left: -58px;
}
header nav::after {
    border-bottom: 9px solid rgba(33,141,192,1.0);
    border-right: 58px solid transparent;
    right: -58px;
}
header nav a:link, header nav a:visited {
    display: block;
    position: relative;
    margin: 0 3px 0 0;
    padding: 4px 16px 16px 16px;
    font-size: 13px;
    font-weight:700;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    border-bottom: 9px solid rgba(33,141,192,1.0);
    background: rgba(33,141,192,0.0);
}
header nav a:hover, header nav a:active, header nav a.current {
    background: rgba(33,141,192,1.0);
    color: #FFF;
}
header nav a.current {
    cursor: default;
}
nav a:last-child {
    margin-right: 0px;
}
header nav a::before, header nav a::after {
    display: block;
    position: absolute;
    top: -20px;
    content: '';
}
header nav a::before {
    border-bottom: 21px solid rgba(33,141,192,0.0);
    border-left: 21px solid WHITE;
    left: 0;
    width: 0;
    height: 0;
    z-index: 10;
}
header nav a::after {
    right: 0;
    height: 21px;
    background: rgba(33,141,192,0.0);
    width: 100%;
    z-index: 1;
}
/*nav a.about::after {*/
/*width: 56px;*/
/*}*/
/*nav a.parks-facilities::after {*/
/*width: 136px;*/
/*}*/
/*nav a.recreation::after {*/
/*width: 93px;*/
/*}*/
/*nav a.registration::after {*/
/*width: 105px;*/
/*}*/
/*nav a.events::after {*/
/*width: 59px;*/
/*}*/
/*nav a.news::after {*/
/*width: 49px;*/
/*}*/
/*nav a.get-involved::after {*/
/*width: 105px;*/
/*}*/
nav a:hover::before, header nav a.current::before {
    border-bottom: 21px solid rgba(33,141,192,1.0);
}
nav a:hover::after, header nav a.current::after {
    background: rgba(33,141,192,1.0);
}

/* TODO: Remove once invex sliders is fully live */
/* ----- BANNER ----- */
.home-banner {
    width: 100%;
    height: 483px;
}
.home-banner #cycle {
    width: 100%;
    height: 483px;
    position: relative;
    overflow: hidden;
}
.home-banner #cycle ol.flex-control-nav {
    line-height: 11px;
    list-style: none;
    position: absolute;
    left: 10px;
    top: 250px;
    bottom: initial;
    width: auto;
    z-index: 1000;
    text-align: left;
}
.home-banner #cycle ol.flex-control-nav li {
    display: inline-block;
    zoom: 1;
    margin: 0 5px 0 0 !important;
    text-align: left;
}
.home-banner #cycle ol.flex-control-nav li a {
    margin: 0;
    padding: 0;
    width: 13px;
    height: 13px;
    display: block;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #FFF;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
}
.home-banner #cycle ol.flex-control-nav li a:hover, .home-banner #cycle ol.flex-control-nav li a.flex-active, .home-banner #cycle ol.flex-control-nav li.cycle-pager-active a {
    background: rgba(255,255,255,1.0);
}
.home-banner #cycle ol.flex-control-nav li a.flex-active,.home-banner #cycle ol.flex-control-nav li.cycle-pager-active a {
    cursor: default;
}
.home-banner #cycle .slide {
    width: 100%;
    height: 483px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.home-banner #cycle .slide .overlay {
    width: 499px;
    height: 483px;
    background: url(images/bg_slider_overlay.png) no-repeat top left;
    position: relative;
}
.home-banner #cycle .slide .overlay h2 {
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    line-height: 30px;
    margin: 0;
    padding: 15px 0 10px 15px;
    width: 310px;
    height: 60px;
}
.home-banner #cycle .slide .overlay p {
    font-size: 13px;
    color: #FFF;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 0 0 10px 15px;
    width: 240px;
    height: 100px;
}
.home-banner #cycle .slide .overlay a:link, .home-banner #cycle .slide .overlay a:visited {
    display: block;
    position: absolute;
    left: 0px;
    top: 195px;
    width: 160px;
    height: 42px;
    line-height: 42px;
    padding-left: 17px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0c5a7d;
}
.home-banner #cycle .slide .overlay a:hover, .home-banner #cycle .slide .overlay a:active {
    background-color: #0b3c52;
}
.home-banner #cycle .slide .overlay a::after {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    right: -33px;
    top: 0px;
    border-top: 42px solid #0c5a7d;
    border-right: 33px solid transparent;
}
.home-banner #cycle .slide .overlay a:hover::after, .home-banner #cycle .slide .overlay a:active::after {
    border-top: 42px solid #0b3c52;
}
/* TODO: Remove once invex sliders is fully live */

.banner {
    width: 100%;
    height: 148px;
    background: url(images/recycling.png) no-repeat center center;
    z-index: 0;
}
#main .facility {
    height: 375px;
    background-image: url(images/bg_honeycomb_25_small.png);
    background-repeat: repeat;
}
.banner-inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.banner h2 {
    z-index: 100;
    display: block;
    font-weight: 300;
    color: #FFF;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 3px;
    margin: 0;
    padding: 7px 30px;
    background: rgba(33,141,192,0.65);
    position: absolute;
    top: 70px;
    left: -30px;
    text-transform: lowercase;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
}
.banner h2 span {
    display: inline-block;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
}
#main .facility h2 {
    top: 25px;
    left: -10px;
}
#main .green {
    background-color: rgba(133,164,61,0.40);
}
#main .green .banner-inner {
    background: rgba(133,164,61,1.0);
}
#main .green h2 {
    background: rgba(133,164,61,0.65);
}
#main .red {
    background-color: rgba(204,28,34,0.40);
}
#main .red .banner-inner {
    background: rgba(204,28,34,1.0);
}
#main .red h2 {
    background: rgba(204,28,34,0.65)
}
#main .aqua {
    background-color: rgba(34,147,197,0.40);
}
#main .aqua .banner-inner {
    background: rgba(33,141,192,1.0);
    position:relative;
}
#main .aqua .banner-inner::before,
#main .aqua .banner-inner::after {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    top: 0;
}
#main .aqua .banner-inner::before {
    border-bottom: 375px solid rgba(33,141,192,1.0);
    border-left: 58px solid transparent;
    left: -58px;
}
#main .aqua .banner-inner::after {
    border-top: 375px solid rgba(33,141,192,1.0);
    border-right: 58px solid transparent;
    right: -58px;
}
#main .wide .banner-inner::before, #main .wide .banner-inner::after {
    display: none;
}
#main .aqua h2 {
    background: rgba(33,141,192,0.75);
}
#main .blue {
    background-color: rgba(12,90,125,0.40);
}
#main .blue .banner-inner {
    background: rgba(12,90,125,1.0);
}
#main .blue h2 {
    background: rgba(12,90,125,0.65)
}
#main .gold {
    background-color: rgba(234,153,37,0.40);
}
#main .gold .banner-inner {
    background: rgba(234,153,37,1.0);
}
#main .gold h2 {
    background: rgba(234,153,37,0.65)
}
.banner .flex-container {
    display: flex;
    align-content: space-between;
}
.banner .flex-container img {
    margin-right: 10px;
}
.banner .map-wrap {
    margin-top: 10px;
}
.banner a.gmap:link, .banner a.gmap:visited {
    position: absolute;
    top: 32px;
    right: -15px;
    display: block;
    background: rgba(33,141,192,1.0);
    color: #FFF;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    z-index: 10;
    padding: 10px 20px 10px 10px;
    transition: all 300ms linear;
}
.banner a.gmap:hover, .banner a.gmap:active {
    background: rgba(33,141,192,0.6);
}
.banner a.gmap:hover::before {
    background-color: rgba(33,141,192,0.4);
}
.banner a.gmap::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: rgba(20,112,153,0.0);
    transition: all 300ms linear;
}
.banner a.gmap::after {
    display: block;
    position: absolute;
    content: '';
    border-top: 15px solid rgba(33,141,192,1.0);
    border-right: 15px solid transparent;
    bottom: -15px;
    right: 0px;
    width: 0;
    height: 0;
}

/* --- New Facilities Banner --- */
.new-facility-banner {
    width: 100%;
    height: 375px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.new-facility-banner .inner {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.new-facility-banner .inner h2 {
    z-index: 100;
    display: block;
    font-weight: 300;
    color: #FFF;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 3px;
    margin: 0;
    padding: 7px 30px;
    background: rgba(56,123,99,0.8);
    position: absolute;
    top: 25px;
    left: -10px;
    text-transform: lowercase;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
}
.new-facility-banner .inner h2 span {
    display: inline-block;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
}
.new-facility-banner .inner a.gmap:link, .new-facility-banner .inner a.gmap:visited {
    position: absolute;
    bottom: 25px;
    right: -15px;
    display: block;
    background: rgba(33,141,192,0.7);
    color: #FFF;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
    z-index: 10;
    padding: 8px 25px;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transition: all 300ms linear;
}
.new-facility-banner .inner a.gmap span {
    display: inline-block;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
}
.new-facility-banner .inner a.gmap:hover, .new-facility-banner .inner a.gmap:active {
    background: rgba(33,141,192,1.0);
}
@media only screen and (max-width: 1099px) {
    .new-facility-banner {
        width: 100%;
        height: 320px;
        overflow: hidden;
    }
    .new-facility-banner .inner h2 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 1px;
        padding: 5px 24px;
        left: 10px;
    }
    .new-facility-banner .inner a.gmap:link, .new-facility-banner .inner a.gmap:visited {
        right: 10px;
        font-size: 12px;
        line-height: 20px;
    }
}

/* ----- CONTENT ----- */
.content {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0 28px 0;
}
/* -- Sidebar -- */
.sidebar {
    width: 200px;
    margin-top: 15px;
}
.sidebar .widget {
    margin-bottom: 15px;
}
.sidebar .menu {
    position:relative;
    margin-bottom: 30px;
}
.menu::before, .menu::after {
    display: block;
    position: absolute;
    top: -15px;
    content: '';
}
.menu::before {
    /*border-bottom: 15px solid rgba(204,28,34,1.0);*/
    border-bottom: 16px solid rgba(238,41,71,1.0);
    border-left: 15px solid transparent;
    left: 0px;
    width: 0;
    height: 0;
}
.menu::after {
    right: 0px;
    height: 15px;
    width: 185px;
    background: rgba(238,41,71,1.0);
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.menu ul li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e39295;
}
.menu ul li:first-child {
    border-top: 1px solid #e39295;
}
.menu ul li a:link, .menu ul li a:visited {
    display:block;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
    font-weight: 600;
    text-decoration: none;
    background: rgba(238,41,71,1.0);
}
.menu ul li a:hover, .menu ul li a:active {
    background: rgba(200,27,53,1.0);
}
.menu ul li a.current:link, .menu ul li a.current:visited,
.menu ul li a.current:hover, .menu ul li a.current:active {
    background: rgba(200,27,53,1.0);
    cursor: default;
}
.menu ul::before, .menu ul::after {
    display: block;
    position: absolute;
    bottom: -15px;
    content: '';
}
.menu ul::before {
    border-top: 15px solid rgba(238,41,71,1.0);
    border-right: 15px solid transparent;
    right: 0px;
    width: 0;
    height: 0;
}
.menu ul::after {
    left: 0px;
    height: 15px;
    width: 185px;
    background: rgba(238,41,71,1.0);
}
.sidebar .non-menu {
    padding: 15px;
    margin-bottom: 15px;
    background: rgba(234,153,37,0.68);
    position: relative;
    border-bottom: 8px solid rgba(234,153,37,1.0);
}
.sidebar .non-menu h4 {
    display: block;
    font-size: 14px;
    font-weight: 400;
    background: rgba(234,153,37,1.0);
    color: #FFF;
    font-size: 11px;
    line-height: 28px;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    position:absolute;
    bottom: -8px;
    right: 0px;
    padding: 0 16px;
}
.sidebar .non-menu h4::before {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    left: -28px;
    border-bottom: 28px solid rgba(234,153,37,1.0);
    border-left: 28px solid transparent;
}
.sidebar .non-menu p {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}
.sidebar .non-menu ul {
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #FFF;
}
.sidebar .non-menu ul li {
    margin-bottom: 8px;
    line-height: 22px;
}
.sidebar .non-menu a:link, .sidebar .non-menu a:visited {
    color: rgba(255,255,255,0.85);
    text-decoration: none;
    font-weight: 600;
}
.sidebar .non-menu a:hover, .sidebar .non-menu a:active {
    color: rgba(255,255,255,1.0);
    text-decoration: underline;
}
.sidebar .non-menu hr {
    border: none;
    background: rgba(255,255,255,0.5);
    margin: 10px 0;
    padding: 0;
    height: 1px;
    line-height: 1px;
}
#main .sidebar .related a:link, #main .sidebar .related a:visited {
    color: rgba(255,255,255,0.85);
    text-decoration: none;
    font-weight: 600;
    background: url(images/bg_dotted_arrow.png) no-repeat top left;
    padding-left: 18px;
    line-height: 20px;
    display: inline-block;
}
#main .sidebar .related a:hover, #main .sidebar .related a:active {
    color: rgba(255,255,255,1.0);
    text-decoration: underline;
    background-position: bottom left;
}
#main .sidebar .blue  {
    background: rgba(53,65,80,0.65);
    border-bottom-color: rgba(53,65,80,1.0);
}
#main .sidebar .blue h4 {
    background: rgba(53,65,80,1.0);
}
#main .sidebar .blue h4::before {
    border-bottom-color: rgba(53,65,80,1.0);
}
#main .sidebar .red  {
    background: rgba(204,28,34,0.68);
    border-bottom-color: rgba(204,28,34,1.0);
}
#main .sidebar .red h4 {
    background: rgba(204,28,34,1.0);
}
#main .sidebar .red h4::before {
    border-bottom-color: rgba(204,28,34,1.0);
}
#main .sidebar .green  {
    background: rgba(89,177,144,1.0);
    border-bottom-color: rgba(56,123,99,1.0);
}
#main .sidebar .green h4 {
    background: rgba(56,123,99,1.0);
}
#main .sidebar .green h4::before {
    border-bottom-color: rgba(56,123,99,1.0);
}
#main .sidebar .aqua  {
    background: rgba(34,147,197,0.68);
    border-bottom-color: rgba(34,147,197,1.0);
}
#main .sidebar .aqua h4 {
    background: rgba(34,147,197,1.0);
}
#main .sidebar .aqua h4::before {
    border-bottom-color: rgba(34,147,197,1.0);
}

/* -- Main Col -- */
.main-col {
    width: 975px;
}
#main .full-width {
    width: 1200px;
}
h3.center, h4.center, h5.center {
    text-align: center;
}
.main-col h3:not(.entry-title):not(.tribe-events-month-event-title):not(.tribe-events-single-section-title):not(.tribe-events-visuallyhidden):not(.tl-headline-date) {
    font-size: 24px;
    line-height: 64px;
    font-weight: 600;
    color: #FFF;
    border-bottom: 8px solid /*rgba(221,176,35)*/#d7a827;
    background: /*rgba(255,202,38,1.0)*/#ffc72c;
    margin: 0;
    padding: 3px 15px 0 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-col h3 span.share-page {
    /*position: absolute;	*/
    /*top: 4px;*/
    /*right: 15px;*/
}
.content-wrap {
    padding: 17px 20px;
    background: #FFF;
    min-height: 300px;
}
.content-wrap h4 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin: 0 0 25px 0;
    padding: 0;
}
.content-wrap h4.cursive {
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 3px;
}
.content-wrap h5 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin: 0 0 25px 0;
    padding: 0;
    letter-spacing: 1px;
}
.content-wrap p {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 25px 0;
    padding: 0;
}
.content-wrap p.red {
    padding: 15px;
    background: rgba(204,28,34,0.35);
    border: 4px solid rgba(204,28,34,1.0);
}
.content-wrap .highlight {
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    background: rgba(254,215,56,0.40);
    border: 4px solid rgba(254,215,56,1.0);
}
.content-wrap ul, .content-wrap ol {
    margin: 0 0 25px 10px;
    padding: 0 0 0 10px;
}
.content-wrap ul.two-col {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}
.content-wrap ul li ul, .content-wrap ol li ol,
.content-wrap ul li ol, .content-wrap ol li ul {
    margin: 5px 0 0 10px;
    padding: 5px 0 0 10px;
}
.content-wrap ul li ul {
    list-style: square;
}
.content-wrap ul li ul li, .content-wrap ol li ol li,
.content-wrap ul li ol li, .content-wrap ol li ul li {
    margin: 0 0 0 7px;
    padding: 0 0 0 3px;
    font-size: 13px;
}
.content-wrap ul li, .content-wrap ol li {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 15px;
    line-height: 22px;
    color: #333;
}
.content-wrap ul {
    list-style: disc;
}
.content-wrap ol {
    list-style: decimal;
}
.content-wrap ul.accordion-group li ul {
    list-style: disc;
}
.content-wrap ul.accordion-group li ul, .content-wrap ul.accordion-group li ul {
    margin: 0 0 20px 10px;
    padding: 0 0 0 10px;
}
.content-wrap a:link, .content-wrap a:visited {
    text-decoration: none;
    font-weight: 700;
    color: rgba(56,123,99,1.0);
}
.content-wrap a:hover, .content-wrap a:active {
    text-decoration: underline;
}
.content-wrap a.pdf-link {
    color: #DE4830;
    display: inline-block;
    line-height: 21px;
    background: url(images/icon-pdf.png) no-repeat left top;
    padding-left: 24px;
}
.content-wrap ul.pdf, .sidebar .non-menu ul.pdf {
    list-style:none;
    margin-left: 0;
    padding-left: 0;
}
.content-wrap ul.pdf a, .sidebar .non-menu ul.pdf a {
    color: #DE4830;
    display: inline-block;
    line-height: 21px;
    background: url(images/icon-pdf.png) no-repeat left top;
    padding-left: 24px;
}
.content-wrap hr {
    background: #DDD;
    border: #DDD;
    height: 1px;
    color: #DDD;
    margin: 20px auto;
}
.main-col a.callout:link, .main-col a.callout:visited {
    display: inline-block;
    border: 1px solid #cc1c22;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(204,28,34,0.68);
    color: #FFF;
    font-size: 13px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
.main-col a.callout:hover, .main-col a.callout:active {
    background: rgba(204,28,34,1.0);
}
.main-col a.callout span {
    display: block;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 2px;
}
.content a.btn:link, .content a.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #FFF;
    font-weight: 700;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(33,141,192,1.0);
}
.content a.btn:hover, .content a.btn:active {
    background: rgba(33,141,192,0.75);
    text-decoration: none;
}
.content ul.accordion-group li .accordion-content i.fa {
    position: relative;
    transition: none;
    transform: none;
    margin: 0;
    padding: 0;
    left: auto;
    right: auto;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.content ul.accordion-group li .accordion-content i.fa::before,
.content ul.accordion-group li .accordion-content i.fa::after {
    transition: none;
    transform: none;
}

/* -- Default Form Styles -- */
.content .main-col form {
    margin: 0 0 20px 0;
    padding: 0;
    border: none;
    background: none;
}
.content .main-col input[type=text], .content .main-col input[type=email] {
    display: block;
    margin: 0 0 15px 0;
    padding: 6px;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    font-weight: 400;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: none;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
}
.content .main-col textarea {
    display: block;
    margin: 0 0 15px 0;
    padding: 6px;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    font-weight: 400;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: none;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    height: 100px;
}
.content .main-col input[type=submit] {
    display: block;
    margin: 0 0 15px 0;
    padding: 10px 20px;
    font-size: 13px;
    line-height: 18px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(33,141,192,0.7);
    border-top: 1px solid rgba(33,141,192,0.7);
    border-left: 1px solid rgba(33,141,192,0.7);
    border-right: 1px solid rgba(33,141,192,0.7);
    border-bottom: 5px solid rgba(33,141,192,1.0);
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

/* -- Default Table (Tablepress) -- */
.content table {
    margin: 0 0 20px 0;
    padding: 0;
    border: none;
}
.content table.ge {
    font-size: 12px;
    color: #333;
}
.content table.ge tr:nth-child(odd) {
    background: #DDD;
}
.content table.ge tr:nth-child(even) {
    background: #FFF;
}
.content table.ge tr th {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    color: #FFF;
    padding: 5px 10px;
    background: rgba(33,141,192,1.0);
}
.content table.ge tr td {
    text-align: center;
    padding: 7px 12px;
    vertical-align: middle;
}
.content table.ge tr td a {
    display: inline-block;
}
.content table.ge tr th:first-child, .content table.ge tr td:first-child {
    text-align: left;
    padding-right: 30px;
}
.content table.two-left tr th:nth-child(2), .content table.two-left tr td:nth-child(2) {
    text-align: left;
}
.content table.left tr th, .content table.left tr td {
    text-align: left;
}
.content table.staff tr th:first-child {
    width: 115px;
}
.content table.staff tr th:nth-child(2) {
    width: 275px;
}
.content table.staff tr th:nth-child(3) {
    width: 120px;
}

/* -- Board Tables -- */
.content table.board {
    margin: 0 0 20px 0;
    padding: 0;
    border: none;
}
.content table.indent {
    margin-left: 90px;
}
.content table.board td {
    padding: 0 15px;
    text-align: center;
    background: none;
}
.content table.board td img {
    width: 150px;
    margin: 0 auto 10px auto;
}
.content table.board td h5 {
    margin-bottom: 2px;
}
.content table.board td p {
    font-size: 12px;
    margin-bottom: 0px;
}
.content table.board td a:link, .content table.board td a:visited {

}
.content table.board td a:hover, .content table.board td a:active {

}

/* -- Alternating Rows Table -- */
.content table.alt {
    color: #333;
}
.content table.alt tr:nth-child(odd) {
    background: #EEE;
}
.content table.alt tr:nth-child(even) {
    background: #FFF;
}
.content table.alt tr td {
    text-align: left;
    vertical-align: middle;
    padding: 20px;
}
.content table.alt tr td h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.content table.alt tr td p {
    margin: 10px 0 0 0;
    font-size: 12px;
}
.content table.alt tr td ul, .content table.alt tr td ol {
    margin-top: 6px;
    margin-bottom: 0px;
}
.content table.alt tr td ul li, .content table.alt tr td ol li {
    line-height: 20px;
    margin-top: 6px;
    font-size: 12px;
}
.content table.pic tr td:first-child {
    padding-right: 50px;
}
.content table.pic tr td:nth-child(2) {
    text-align: center;
}
.content table.pic tr td img {
    max-width: inherit !important;
}
.content .gallery-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content .gallery-container .gallery-thumb {
    margin: 8px;
}

/* -- Inline Tabs -- */
#main ul.nav-tabs {
    margin: 0;
}
#main ul.nav-tabs li {
    margin-bottom: -1px;
}
#main .tab-content {
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

/* -- Full Width Pages -- */


/* ----- HOME PAGE ----- */
.home-col {
    width: 371px;
}
.home .content .right {
    width: 340px;
}
.home-widget {
    margin-bottom: 25px;
    background-color: #FFF;
    position: relative;
}
.home-widget .content-wrap {
    margin: 0;
    padding: 15px 17px 38px 17px;
}

/* -- Headings -- */
.home-col h3 {
    font-size: 24px;
    line-height: 49px;
    font-weight: 600;
    color: #FFF;
    margin: 0;
    padding: 3px 15px 0 62px;
    position: relative;
}
.home .events h3 {
    border-bottom: 8px solid rgba(56,123,99,1.0);
    background: url(images/home_icon-events.png) no-repeat 15px center rgba(89,177,144,1.0);
}
.home .tweets h3 {
    border-bottom: 8px solid #2293c5;
    background: url(images/home_icon-twitter.png) no-repeat 17px center rgba(34,147,197,0.70);
}
.home .tweets h3 a {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.8;
}
.home .tweets h3 a:hover {
    opacity: 1.0;
}
.home .news h3 {
    border-bottom: 8px solid rgba(56,123,99,1.0);
    background: url(images/home_icon-news.png) no-repeat 11px center rgba(89,177,144,1.0);
}

/* -- Widget Bottom Buttons -- */
.home-widget a.widget-bottom-btn {
    display: block;
    color: #FFF;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    position: relative;
    margin: 0;
    padding: 0 16px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.home-widget a.widget-bottom-btn::before {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    left: -28px;
}
.home .events a.widget-bottom-btn {
    background: rgba(56,123,99,1.0);
}
.home .events a.widget-bottom-btn::before {
    border-bottom: 28px solid rgba(56,123,99,1.0);
    border-left: 28px solid transparent;
}
.home .tweets a.widget-bottom-btn {
    background: rgba(34,147,197,1.0);
}
.home .tweets a.widget-bottom-btn::before {
    border-bottom: 28px solid rgba(34,147,197,1.0);
    border-left: 28px solid transparent;
}
.home .news a.widget-bottom-btn {
    background: rgba(56,123,99,1.0);
}
.home .news a.widget-bottom-btn::before {
    border-bottom: 28px solid rgba(56,123,99,1.0);
    border-left: 28px solid transparent;
}
.home .events a.widget-bottom-btn:hover {
    background: rgba(89,177,144,1.0);
}
.home .events a.widget-bottom-btn:hover::before {
    border-bottom: 28px solid rgba(89,177,144,1.0);
    border-left: 28px solid transparent;
}
.home .tweets a.widget-bottom-btn:hover {
    background: rgba(34,147,197,0.7);
}
.home .tweets a.widget-bottom-btn:hover::before {
    border-bottom: 28px solid rgba(34,147,197,0.7);
    border-left: 28px solid transparent;
}
.home .news a.widget-bottom-btn:hover {
    background: rgba(89,177,144,1.0);
}
.home .news a.widget-bottom-btn:hover::before {
    border-bottom: 28px solid rgba(89,177,144,1.0);
    border-left: 28px solid transparent;
}

/* -- Widget Content -- */
.events ul.events {
    margin: 0;
    padding: 0;
    list-style: none;
}
.events ul.events li {
    margin: 0 0 12px 0;
    padding: 0;
}
.events ul.events li:last-child {
    margin-bottom: 0;
}
.events ul.events li a:link, .events ul.events li a:visited {
    color: #506915;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
}
.events ul.events li a:hover, .events ul.events li a:active {
    text-decoration: underline;
}
.events ul.events li a strong {
    font-weight: 700;
}
.twitter-embed-wrap {
    padding-bottom: 38px;
}
.home-widget .post {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #cadbe2;
}
.home-widget .post h4 {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.home-widget .post h4 a:link, .home-widget .post h4 a:visited {
    color: rgba(56,123,99,1.0);
    text-decoration: none;
}
.home-widget .post h4 a:hover, .home-widget .post h4 a:active {
    text-decoration: underline;
}
.home-widget .post p {
    margin: 0 0 20px 0;
    padding: 0;
    color: #464646;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.home-widget .post p a:link, .home-widget .post p a:visited {
    color: #0c5a7c;
    font-weight: 600;
    text-decoration: none;
}
.home-widget .post p a:hover, .home-widget .post p a:active {
    text-decoration: underline;
}

/* -- Hot Buttons -- */
ul.hot-buttons {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
}
ul.hot-buttons li {
    margin: 0;
    padding: 0;
    border-bottom: 8px solid rgba(238,41,71,1.0);
}
ul.hot-buttons li a:link, ul.hot-buttons li a:visited {
    display: block;
    margin: 0;
    padding: 11px 15px 9px 48px;
    background-repeat: no-repeat;
    background-color: rgb(238, 95, 97);
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #FFF;
}
ul.hot-buttons li a:link span, ul.hot-buttons li a:visited span {
    display: block;
    font-size: 14px;
    font-weight: 400;
}
ul.hot-buttons li a:hover, ul.hot-buttons li a:active {
    background-color: rgba(238,41,71,1.0);
}
ul.hot-buttons li a.map {
    background-image: url(images/hot-button-map.png);
    background-position: 12px center;
}
ul.hot-buttons li a.activity {
    background-image: url(images/hot-button-activity.png);
    background-position: 11px center;
}
ul.hot-buttons li a.registration {
    background-image: url(images/hot-button-registration.png);
    background-position: 10px center;
}
ul.hot-buttons li a.weather {
    background-image: url(images/hot-button-weather.png);
    background-position: 8px center;
}
ul.hot-buttons li a.skating {
    background-image: url(images/ice-skating.png);
    background-position: 3px center;
}
ul.hot-buttons li a.aquatics {
    background-image: url(images/hot-button-aquatics.png);
    background-position: 8px center;
}
ul.hot-buttons li a.platform-tennis {
    background-image: url(images/hot-button-tennis.png);
    background-position: 8px center;
}
ul.hot-buttons li a.platform-tennis-racket {
    background-image: url(images/platform-tennis-racket.png);
    background-position: 8px center;
}
ul.hot-buttons li a.open-gym {
    background-image: url(images/hot-button-open-gym.png);
    background-position: 9px center;
}
.home-widget .content-wrap-small {
    padding: 12px 15px;
    margin: 0;
}
.home-widget h5 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    color: #FFF;
}
.home-widget p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #FFF;
}
.home-widget p a {
    color: #FFF;
    text-decoration: none;
}
.home-widget p a:hover {
    text-decoration: underline;
}
.home .hotline {
    background: url(images/widget-hotline.png) no-repeat 235px 12px rgba(234,153,37,0.68);
    border-bottom: 8px solid rgba(234,153,37,1.0);
}
.home a.donate {
    display: block;
    background: url(images/widget-support.png) no-repeat 14px center rgba(89,177,144,1.0);
    border-bottom: 8px solid rgba(56,123,99,1.0);
    margin: 0 0 25px 0;
    padding: 11px 15px 0 89px;
    height: 69px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    color: #FFF;
    position: relative;
}
.home a.donate span.teaser {
    display: block;
    font-size: 12px;
    font-weight: 400;
}
.home a.donate span.btn {
    display: block;
    font-size: 12px;
    font-weight: 400;
    background: rgba(56,123,99,1.0);
    color: #FFF;
    font-size: 11px;
    line-height: 28px;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    position:absolute;
    bottom: -8px;
    right: 0px;
    padding: 0 16px;
}
.home a.donate span.btn::before {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    left: -28px;
    border-bottom: 28px solid rgba(56,123,99,1.0);
    border-left: 28px solid transparent;
}
.home a.survey {
    display: block;
    background: url(images/widget-survey.png) no-repeat 20px center rgba(243,113,33,0.68);
    border-bottom: 8px solid rgba(243,113,33,1.0);
    margin: 0 0 25px 0;
    padding: 11px 15px 0 89px;
    height: 69px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    color: #FFF;
    position: relative;
}
.home a.survey span.teaser {
    display: block;
    font-size: 12px;
    font-weight: 400;
}
.home a.survey span.btn {
    display: block;
    font-size: 12px;
    font-weight: 400;
    background: rgba(243,113,33,1.0);
    color: #FFF;
    font-size: 11px;
    line-height: 28px;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    position:absolute;
    bottom: -8px;
    right: 0px;
    padding: 0 16px;
}
.home a.survey span.btn::before {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    left: -28px;
    border-bottom: 28px solid rgba(243,113,33,1.0);
    border-left: 28px solid transparent;
}
.home .mailchimp {
    background: url(images/widget-email.png) no-repeat 235px 12px rgba(53,65,80,0.68);
    border-bottom: 8px solid rgba(53,65,80,1.0);
    padding-top: 12px;
}
.home .mailchimp h5 {
    margin: 0 15px 5px 15px;
}
.home .mailchimp h5 cite {
    display: block;
    margin: 2px 0 0 0;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #FFF;
    font-style: normal;
}
#mc_embed_signup {
    position: relative;
    padding-bottom: 26px;
}
.home .mailchimp input.email {
    background: rgba(255,255,255,0.65);
    border: 1px solid #FFF;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 7px;
    margin: 0 0 5px 15px;
    color: #333;
    font-style: normal;
    width: 234px;
}
.home .mailchimp input.email::-webkit-input-placeholder, .home .mailchimp input.email::-moz-placeholder,
.home .mailchimp input.email:-ms-input-placeholder, .home .mailchimp input.email:-moz-placeholder,
.home .mailchimp input.email:placeholder-shown, .home .mailchimp input.email::placeholder {
    color: rgba(255,255,255,0.78) !important;
    font-style: italic;
}
.home.mailchimp .btn-wrap {
    display: inline-block;
}
.home .mailchimp input.button {
    position: absolute;
    right: 0px;
    bottom: -8px;
    margin: 0;
    padding: 0 16px;
    display: block;
    border: none;
    background: rgba(53,65,80,1.0);
    color: #FFF;
    font-size: 11px;
    line-height: 28px;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
}
.home .mailchimp .btn-wrap::before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    left: 174px;
    bottom: -8px;
    border-bottom: 28px solid rgba(53,65,80,1.0);
    border-left: 28px solid transparent;
}
.home .mailchimp .btn-wrap::after {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    left: 174px;
    bottom: -8px;
    border-bottom: 28px solid rgba(53,65,80,1.0);
    border-left: 28px solid transparent;
}
.home .mailchimp input.button:hover {
    cursor: pointer;
}
.home .mailchimp .btn-wrap:hover::before {

}
.home .mailchimp .response {
    font-size: 11px;
    line-height: 16px;
    color: rgba(255,255,255,0.7);
    padding: 4px 15px;
}

/* ----- EVENTS ----- */
.tribe-events-single .events-col-wrap {
    flex-wrap: wrap;
}
.tribe-events-single .events-col-wrap .events-main {
    order: 1 !important;
    max-width: 650px;
}
/*#main .events-main {*/
/*width: 650px;*/
/*}*/
.tribe-events-single .events-col-wrap .events-sidebar {
    order: 2 !important;
    width: 280px;
}
/*#main .events-sidebar {*/
/*width: 280px;*/
/*}*/
#main .events-main .addthis_toolbox {
    margin-top: 20px;
}
.events-main h3 .date {
    display: block;
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 13px;
    font-weight: 600;
    text-align: right;
}
#tribe-events-footer {
    overflow: hidden;
    padding-top: 20px !important;;
    padding-bottom: 20px;
    border-top: 1px solid #CCC !important;
    border-bottom: 1px solid #CCC;
    margin-top: 20px;
}
#main .tribe-events-event-meta {
    background: none;
    border: none;
    margin: 0px;
}
.event-widget,
#main .tribe-events-meta-group {
    float: none;
    padding: 15px;
    margin: 0 0 25px 0;
    background: rgba(204,28,34,0.68);
    position: relative;
    border-bottom: 8px solid rgba(204,28,34,1.0);
    width: 100%;
}
.event-widget.tribe-events-meta-group-gmap,
#main .tribe-events-meta-group.tribe-events-meta-group-gmap {
    background: none;
    padding: 0;
    border: none;
}
.event-widget,
#main .tribe-events-meta-group {
    float: none;
    padding: 15px;
    margin: 0 0 25px 0;
    background: rgba(204,28,34,0.68);
    position: relative;
    border-bottom: 8px solid rgba(204,28,34,1.0);
    width: 100%;
}
.event-widget h4, #main .tribe-events-meta-group h3 {
    display: block;
    font-size: 12px;
    font-weight: 400;
    background: rgba(204,28,34,1.0);
    color: #FFF;
    font-size: 11px;
    line-height: 28px;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    position:absolute;
    bottom: -8px;
    right: 0px;
    padding: 0 16px;
    margin: 0px;
}
.event-widget h4::before, #main .tribe-events-meta-group h3::before {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    left: -28px;
    border-bottom: 28px solid rgba(204,28,34,1.0);
    border-left: 28px solid transparent;
}
.event-widget dl, #main .tribe-events-meta-group dl {
    margin: 0 !important;
    padding: 0;
    list-style: none;
    font-size: 12px;
    color: #FFF;
}
.event-widget dt, #main .tribe-events-meta-group dt {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 17px !important;
}
.event-widget dd, #main .tribe-events-meta-group dd {
    margin: 0 0 7px 0 !important;
    padding: 0 0 7px 0 !important;
    line-height: 17px !important;
    font-weight: 400;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.event-widget dd:last-child, #main .tribe-events-meta-group dd:last-child {
    border-bottom: none;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.event-widget dd a:link, .event-widget dd a:visited,
#main .tribe-events-meta-group dd a:link, #main .tribe-events-meta-group dd a:visited {
    color: rgba(255,255,255,0.85);
    text-decoration: underline;
}
.event-widget dd a:hover, .event-widget dd a:active,
#main .tribe-events-meta-group dd a:hover, #main .tribe-events-meta-group dd a:active {
    color: rgba(255,255,255,1.0);
}
#main .tribe-events-meta-group-organizer {
    background: rgba(12,90,125,0.68);
    border-color: rgba(12,90,125,1.0);
}
#main .tribe-events-meta-group-organizer h3 {
    background: rgba(12,90,125,1.0);
}
#main .tribe-events-meta-group-organizer h3::before {
    border-bottom-color: rgba(12,90,125,1.0);
}
#main .tribe-events-meta-group-venue {
    background: rgba(34,147,197,0.68);
    border-color: rgba(34,147,197,1.0);
}
#main .tribe-events-meta-group-venue h3 {
    background: rgba(34,147,197,1.0);
}
#main .tribe-events-meta-group-venue h3::before {
    border-bottom-color: rgba(34,147,197,1.0);
}
#main dl dd.tribe-venue, #main dl dd.tribe-organizer {
    font-size: 14px;
    line-height: 20px !important;
}
.events-sidebar .map, #main .tribe-events-venue-map {
    padding: 5px;
    background: rgba(234,153,37,1.0);
    border: none;
    border-radius: 0px;
    display: block;
    float: none;
    margin: 0;
    width: auto;
}
ul.tribe-events-sub-nav a:link, ul.tribe-events-sub-nav a:visited {
    font-size: 13px;
    color: rgba(12,90,125,1.0);
    text-decoration: none;
}
ul.tribe-events-sub-nav a:hover, ul.tribe-events-sub-nav a:active {
    text-decoration: underline;
}
.tribe-address {
    display: block;
}
.tribe-events-address {
    font-style: normal !important;
}
#main .main-col-head {
    position: relative;
    min-height: 52px;
    border-bottom: 8px solid rgba(22,39,50,1.0);
}
#main .main-col-head .tribe-events-event-image {
    position: relative;
    z-index: 0;
    margin: 0px !important;
}
#main .main-col-head h3 {
    z-index: 1000;
    border-bottom: none;
    position: absolute;
    bottom: 0px;
    /*width: 620px;*/
    width: calc(100% - 30px);
    background-color: rgba(22,39,50,0.65);
}
#main #tribe-events .main-col .content-wrap {
    background-color: #E6E6E6;
}
.tribe-events-cost {
    font-size: 14px;
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}
.tribe-events-cost::before {
    content: 'Cost:';
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
}
/*.events-main .tribe-events-cal-links {
	margin-left: 15px;
}
.events-main a.tribe-events-button:link, .events-main a.tribe-events-button:visited {
	display: inline-block;
	background: rgba(34,147,197,1.0);
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	padding: 7px 15px;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 15px;
	-webkit-transform: skew(-45deg);
	   -moz-transform: skew(-45deg);
	     -o-transform: skew(-45deg);
}
.events-main a.tribe-events-button:hover, .events-main a.tribe-events-button:active {
	background-color: rgba(34,147,197,0.7);
}

.events-main a.tribe-events-button span {
	display:inline-block;
	-webkit-transform: skew(45deg);
	   -moz-transform: skew(45deg);
	     -o-transform: skew(45deg);
}*/
#main .events-col-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#main .tribe-events-meta-group-organizer, #main dd.tribe-events-event-categories {
    /*display: none;*/
}

/* ----- ACTIVITY GUIDE ----- */
.brochures {
    display: flex;
    align-content: space-between;
    width: 900px;
    margin: 0 auto;
}
.brochure-wrap {
    width: 400px;
    text-align: center;
}
.brochure-wrap h3 {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}


/* ----- FOOTER ----- */
.foot-wrap {
    margin-top: auto;
    width: 100%;
    height: 199px;
    background: rgba(89,177,144,1.0);
    border-top: 4px solid rgba(56,123,99,1.0);
}
footer {
    width: 1000px;
    height: 199px;
    margin: 0 auto;
    background: rgba(89,177,144,1.0);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .overline {
    position: absolute;
    top: -13px;
    left: 0px;
    width: 100%;
    height: 9px;
    background: rgba(56,123,99,1.0);
}
footer::before, footer::after {
    display: block;
    position: absolute;
    top: -13px;
    content: '';
}
footer::before {
    border-bottom: 9px solid rgba(56,123,99,1.0);
    border-left: 58px solid transparent;
    left: -58px;
    width: 0;
    height: 0;
}
footer::after {
    border-bottom: 9px solid rgba(56,123,99,1.0);
    border-right: 58px solid transparent;
    right: -58px;
    width: 0;
    height: 0;
}
footer .col {
    padding: 20px 0 0 0;
}
footer .col p {
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    color: #FFF;
    font-weight: 400;
}
footer .col p a:link, footer .col p a:visited {
    text-decoration: underline;
    color: rgba(255,255,255,1.0);
}
footer .col p a:hover, footer .col p a:active {
    color: rgba(255,255,255,0.75);
}
footer a.icon-link:link, footer a.icon-link:visited {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255,255,255,1.0);
    text-decoration: underline;
}
footer a.icon-link:hover, footer a.icon-link:active {
    color: rgba(255,255,255,0.75);
}
footer .col h4 {
    display: inline-block;
    color: rgba(89,177,144,1.0);
    margin: 0 0 11px 21px;
    padding: 0 17px;
    line-height: 21px;
    font-weight: 600;
    font-size: 12px;
    background: rgba(255,255,255,0.76);
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
footer .col h4::before, footer .col h4::after {
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    content: '';
}
footer .col h4::before {
    border-bottom: 21px solid rgba(255,255,255,0.76);
    border-left: 21px solid transparent;
    left: -21px;
}
footer .col h4::after {
    border-top: 21px solid rgba(255,255,255,0.76);
    border-right: 21px solid transparent;
    right: -21px;
}
footer .mission {
    width: 196px;
}
.foot-wrap footer .mission p {
    color: rgba(255,255,255,0.5);
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 17px;
}
footer .copyright {
    width: 160px;
    text-align: center;
}
footer .copyright img {
    opacity: 0.6;
    margin: 0 auto 24px auto;
    padding: 0;
}
footer .copyright span {
    display: block;
    color: rgba(255,255,255,0.5);
    font-size: 11px;
    text-align: center;
}
footer .copyright span a:link, footer .copyright span a:visited {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    font-weight: 700;
}
footer .copyright span a:hover, footer .copyright span a:active {
    text-decoration: underline;
}
footer .footer-nav {
    width: 150px;
}
footer .footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer .footer-nav ul li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
footer .footer-nav ul li a:link, footer .footer-nav ul li a:visited {
    display: block;
    position:relative;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    line-height: 25px;
    text-decoration: none;
}
footer .footer-nav ul li a:hover, footer .footer-nav ul li a:active {
    color: #FFF;
}
footer .footer-nav ul li a:link::after, footer .footer-nav ul li a:visited::after {
    display: block;
    position: absolute;
    top: 0;
    right: 12px;
    font-weight: 300;
    color: rgba(255,255,255,0.57);
    content: '»';
    font-size: 18px;
    line-height: 23px;
}
footer .footer-nav ul li a:hover::after, footer .footer-nav ul li a:active::after {
    color: rgba(255,255,255,1.0);
}

/* ----- Lazy Addons ----- */
.tribe-events-related-events-title, .tribe-related-events {
    display: none;
}
#main .special-events-head {
    position: relative;
    min-height: 52px;
    border-bottom: 8px solid #d7a827;
}
#main .special-events-head .special-event-image {
    position: relative;
    z-index: 0;
    margin: 0px !important;
}
#main .special-events-head .special-event-image-area {
    position: relative;
    z-index: 0;
    margin: 0px !important;
    width: 975px;
    height: 425px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#main .special-events-head h3 {
    z-index: 1000;
    border-bottom: none;
    position: absolute;
    bottom: 0px;
    width: 945px;
    background-color: rgba(255,199,44,0.65);
}
#main form p {
    margin: 0;
    padding: 0;
}
table.logos {
    margin: 0 0 20px 0;
    padding: 0;
    border: none;
}
table.logos td {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    border: none;
}
#main .recurringinfo {
    vertical-align: bottom;
}
.recurringinfo .event-is-recurring {
    color: rgba(255,255,255,0.7);
}
.recurringinfo .event-is-recurring:hover {
    color: rgba(255,255,255,0.85);
}
.recurringinfo .event-is-recurring .tribe-events-divider {
    font-size: 12px;
    padding: 0 5px;
    color: rgba(255,255,255,0.5);
}
.recurringinfo .event-is-recurring .tribe-events-divider::after {
    /*display: inline-block;
    content: "\f01e";*/
}
#tribe-events .recurringinfo .event-is-recurring a:link, #tribe-events .recurringinfo .event-is-recurring a:visited {
    color: rgba(255,255,255,0.5);
    font-weight: 600;
    text-transform: lowercase;
}
#tribe-events .recurringinfo .event-is-recurring a:hover, #tribe-events .recurringinfo .event-is-recurring a:active {
    color: rgba(255,255,255,0.85);
}

/* Invex02 - override Stachethemes FA "Free" include */
body .fa {
    font-family: FontAwesome !important;
}

/* Invex09 Cowboy */
.home-col.right .metaslider-flex {
    margin: 0 auto 25px auto;
}
.content-wrap .wp-block-button a:link, .content-wrap .wp-block-button a:visited {
    color: #FFF !important;
    text-decoration: none;
}
.content-wrap .wp-block-button a:hover, .content-wrap .wp-block-button a:active {
    background-color: rgba(33,141,192,1.0) !important;
}

/* Ninja Default */
.footable_parent.ninja_table_wrapper table.ninja_table_pro > thead,
.footable_parent.ninja_table_wrapper table.ninja_table_pro > thead > tr > th{
    background-color: #344150 !important;
    color: white !important;
}
.footable_parent.ninja_table_wrapper table.ninja_table_pro > tbody > tr:nth-child(even) {

}
.footable_parent.ninja_table_wrapper table.ninja_table_pro > tbody > tr:nth-child(odd) {

}
.content-wrap .wp-block-image img,
figure.wp-block-media-text__media img {
    height: auto !important;
}
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Invex09 Header Styles */
body.page-id-21405 .content .main-col .content-wrap h2 {
    line-height: 1.1;
    color: #314f5e;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
}
body.page-id-21405 .content .main-col .content-wrap h2 i {

}
body.page-id-21405 .content .main-col .content-wrap h2.add-border {
    border-bottom: 1px solid #999;
}
body.page-id-21405 .content .main-col .content-wrap h4 {
    line-height: 1.1;
    color: #218cc0;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}
body.page-id-21405 .content .main-col .content-wrap h4 i {
    
}
body.page-id-21405 .content .main-col .content-wrap h4.add-border {
    border-bottom: 1px solid #CCC;
}
