.template.template-search .pagination a {
	color: rgba(34, 147, 197, 1.0);
}

.template.template-search form.search-form {
	margin: 40px 0;
}

.template.template-search form.search-form input.search-term {
	margin-bottom: 0;
	border-radius: 0;
	outline: none;
}

.template.template-search form.search-form .submit-button {
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
	background-color: #2293C5;
	border: 0;
	transition: 300ms all linear;
}

.template.template-search form.search-form .submit-button:hover {
	background-color: #1C7096;
}

.template.template-search .search-results .result:not(:last-child) {
	margin-bottom: 40px;
}

.template.template-search .search-results .result > .content {
	width: auto;
	min-height: initial;
	padding: 0;
}

.template.template-search .search-results .result > .content .classification {
	font-size: 18px;
	text-transform: capitalize;
	z-index: 2;
}

.template.template-search .search-results .result > .content .classification .type {
	text-transform: uppercase;
}

.template.template-search .search-results .result > .content .classification .category{
	text-transform: capitalize;
}

.template.template-search .search-results .result > .content a.title {
	font-size: 25px;
	line-height: 28px;
	margin-bottom: 10px;
}

.template.template-search .search-results .result > .content .excerpt > :last-child {
	margin-bottom: 0;
}

.template.template-search .search-results .result .link:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.template.template-search .search-results .result .link i {
	color: #2293C5;
}

.template.template-search .pagination {
	margin-top: 40px;
}