$white: #FFFFFF;

// Default Color Palette
$invex-blue: #568DF8;
$invex-black: #333333;
$invex-green: #46B450;
$invex-red: #DC3232;
$invex-yellow: #FFBA00;

// Useful notice & message colors
$success-green: $invex-green;
$error-red: $invex-red;
$warning-yellow: $invex-yellow;

// Environment colors
$environment-notice-green: #6eb43f;
$environment-notice-red: #FF0000;
$environment-notice-blue: $invex-blue;

