.agb-gepark-button,
html body .agb-gepark-button,
html body .content-wrap .gepark-button {
	display: inline-block;
	padding: .667em 1.333em;
	font-size: 1.125em;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 1.55em;
	box-shadow: none;
	cursor: pointer;
	overflow-wrap: break-word;
	color: #ffffff;
	background-color: #8ed1fc;
}

html body .content-wrap .gepark-button .icon {
	margin-right: 5px;
	font-size: 1.125em;
}
