#main.home ul.hot-buttons li a {
    display: flex;
    flex-direction: row;
    padding: 10px 15px 10px 0;
    text-decoration: none;
}

#main.home ul.hot-buttons li a .icon {
    display: flex;
    width: 48px;
    justify-content: center;
    align-items: center;
}

#main.home ul.hot-buttons li a .icon img {
    max-width: 70%;
    align-self: center;
}

#main.home ul.hot-buttons li a .text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#main.home ul.hot-buttons li a .text .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    color: #FFF;
}

#main.home ul.hot-buttons li a .text .description {
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
}