#about_dropdown_menu ul {
    height: 330px;
}
#recreation_dropdown_menu ul {
    height: 287px;
}
#parks_facilities_dropdown_menu ul {
    height: 328px;
}

#events_dropdown_menu ul {
    height: 287px;
}

.dropdown-menu ul li {
    height: 40px;
}

.dropdown-menu ul,
.dropdown-menu ul li {
    list-style: none !important;
    list-style-image: url(data:0) !important;
}