/* TRIGGER */
.mobile-menu-button {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
    cursor: pointer;
}

@media screen and (min-width: 650px) and (max-width: 850px) {
    .mobile-menu-button {
        padding: 5px;
        background: #2293C5;
        border-radius: 12px;
        color: white;
        transition: 300ms all linear;
    }

    .mobile-menu-button:hover {
        background: #333;
        color: #2293C5;
    }
}

@media screen and (max-width: 650px) {
    header {
        width: auto;
        /*height: 165px;*/
        height: auto;
        margin: 0;
    }

    header a.start-project-btn:link, header a.start-project-btn:visited {
        display: none !important;
    }

    header a.logo {
        margin: 8px auto 15px auto;
    }

    header #hamburger_icon {
        background: #2293C5;
        margin: 0;
        width: auto;
        padding: 5px;
        color: white;
        cursor: pointer;
    }

    header #hamburger_icon:hover {
        background: #333;
    }
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    min-width: 325px;
}

.mobile-menu.open {
    display: block;
}

.mobile-menu > .wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100% - 52px);
    padding: 26px 22px;
    background-color: #2293C5;
    color: white;
}

.mobile-menu > .wrapper > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.mobile-menu > .wrapper > .header > .title {
    /* TODO: BRIAN - set font family */
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.2px;
    /*color: #dedede;*/
    color: white;
}

.mobile-menu > .wrapper > .header > .separator {
    flex: 1;
    margin: 0 25px;
    height: 2px;
    opacity: 0.38;
    background-color: #ffffff;
}

.mobile-menu > .wrapper > .header > .icon.close {
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: 1.4px;
    /*color: #dedede;*/
    color: white;
    cursor: pointer;
}

.mobile-menu > .wrapper > .content {
    flex: 1;
    overflow-y: auto;

    width: 100% !important;
    flex-direction: initial;
    align-items: initial;
    display: block;
    min-height: initial;
    justify-content: initial;
    margin: initial;
    padding: initial;
}

/* SOCIAL */
.mobile-menu > .wrapper > .content > .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu > .wrapper > .content > .social > a {
    text-decoration: none;

    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    transition: 300ms all linear;
}

.mobile-menu > .wrapper > .content > .social > a:not(:last-child) {
    margin-right: 20px;
}

.mobile-menu > .wrapper > .content > .social > a:hover {
    color: rgba(255, 255, 255, 0.57);
}


/* ICON MENU */
.mobile-menu > .wrapper > .content > .icon-menu {
    margin-top: 16px;
    margin-bottom: 36px;
}

.mobile-menu > .wrapper > .content > .icon-menu .link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: 300ms all linear;
}

.mobile-menu > .wrapper > .content > .icon-menu .link:hover {
    background: rgba(0, 0, 0, 0.1);
}

.mobile-menu > .wrapper > .content > .icon-menu .link > .icon {
    margin-right: 12px;
    width: 28px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: center;
    /*color: rgba(222, 222, 222, 0.65);*/
    color: white;
}

.mobile-menu > .wrapper > .content > .icon-menu .link > span {
    /* TODO: BRIAN - set font family */
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.9px;
    /*color: #dedede;*/
    color: white;
}


/* ACCORDION */
.accordion-menu {

}

.accordion-menu .item {

}

.accordion-menu .item > .head {
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 50px;
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 300ms all linear;
}

.accordion-menu .item > .head:hover {
    /*background-color: rgba(255, 255, 255, 0.63);*/
    background-color: rgba(255, 255, 255, 0.75);
}

.accordion-menu .item > .head > .icon {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #2293C5;
    margin-right: 18px;
}

.accordion-menu .item > .head > .icon.plus {
    display: inline-block;
}

.accordion-menu .item > .head > .icon.minus {
    display: none;
}

.accordion-menu .item.open > .head > .icon.plus {
    display: none;
}

.accordion-menu .item.open > .head > .icon.minus {
    display: inline-block;
}

.accordion-menu .item > .head > span {
    /* TODO: BRIAN - set font family */
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1.8px;
    color: #2293C5;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
}

.accordion-menu .item > .content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 300ms all linear;

    flex-direction: initial;
    align-items: initial;
    width: 100% !important;
    min-height: initial;
    display: block;
    justify-content: initial;
    margin: 0 0 35px;
    padding: initial;
}

.accordion-menu .item.open > .content {
    height: 100%;
    opacity: 1;
}

.accordion-menu .item > .content > .link {
    padding: 5px 18px;

    display: block;
    text-decoration: none;
    /* TODO: BRIAN - set font family */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: 1.4px;
    /*color: #dedede;*/
    color: white;
}

.accordion-menu .item > .content > .link:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}