.content-wrap > p > img,
.content-wrap > h4 > img,
.content-wrap a > img,
.content-wrap > img
{
    max-width: 100% !important;
}

.tribe-events-sub-nav li a{
    color: rgba(12,90,125,1.0) !important;
    background: none !important;
    transition: 300ms all linear;
}
.tribe-events-sub-nav li a:visited {
    color: rgba(12,90,125,1.0) !important;
}
.tribe-events-sub-nav li a:hover {
    color: rgba(89,142,166,1.0) !important;
}

div.activity-guides {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.activity-guides > * {
    flex: 1;
    flex-basis: 325px;
    max-width: 325px;
    margin: 20px;
    box-shadow: 0px 2px 14px 1px black;
}
div.activity-guides > div h4 {
    text-align: center;
}
div.activity-guides > div a {
    display: block; margin: 0 auto;
}
div.activity-guides > div a img{
    width: 100%;
}

ul.landing-page-links li {
    height: 35px;
}
ul.landing-page-links li a {
    font-size: 20px;
}

.lity-iframe .lity-container, .lity-youtube .lity-container, .lity-vimeo .lity-container, .lity-googlemaps .lity-container {
    max-width: 70% !important;
}

.head-wrap {
    position: relative;
    border-top: 4px solid rgba(89,177,144,1.0);
}
/*.meta ul.meta-nav li a:link, .meta ul.meta-nav li a:visited {*/
    /*margin-top: -4px;*/
    /*line-height: 36px;*/
/*}*/
.home .mailchimp input.button {
    position: relative;
    right: 0;
    bottom: 0;
}
.home .mailchimp .btn-wrap {
    position: absolute;
    bottom: -8px;
    right: 0;
}
.home .mailchimp .btn-wrap::before {
    left: -28px;
    bottom: 0;
}
.home .mailchimp .btn-wrap::after {
    display: none;
}

/* TODO: Remove once invex sliders is fully live */
.home-banner #cycle .slide .basic-overlay {
    display: none;
    /*display: flex;*/
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1E7FAD;
    color: white;
}
.home-banner #cycle .slide .basic-overlay h2 {
    margin-left: 20px;
    margin-top: 5px;
}
.home-banner #cycle .slide .basic-overlay p {
    margin: 5px 20px 10px;
    font-size: 14px;
}
.home-banner #cycle .slide .basic-overlay a {
    transition: 300ms all linear;
    background-color: rgba(12,90,125, 1.0);
}
.home-banner #cycle .slide .basic-overlay a:hover {
    background-color: rgba(12,90,125, 0.5);
}
.home-banner #cycle .slide .basic-overlay .link {
    display: block;
    line-height: 42px;
    padding-left: 17px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0c5a7d;
    text-align: center;
}
/* TODO: Remove once invex sliders is fully live */

label#hamburger_menu_toggle {
    padding: 10px 0;
    cursor: pointer;
    color: white;
    background-color: rgb(28, 112, 150);
    text-align: center;
}
label#hamburger_menu_toggle i{
    margin-right: 10px;
}
input#hamburger_menu_checkbox {
    display: none;
}
.hamburger-menu {
    display: none !important;
}
ul.hamburger-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
ul.hamburger-menu li a {
    background-color: rgba(34, 147, 197, 1.0);
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    transition: all 300ms linear;
}
ul.hamburger-menu li a:hover {
    background-color: rgba(34, 147, 197, 0.75);
}


@media screen and (min-width: 1150px) {
    #hamburger_menu_toggle {
        display: none !important;
    }

    header .magnifying-glass {
        display: none;
    }

    footer .col.address {
        order: 1;
    }
    footer .col.mission {
        order: 2;
    }
    footer .col.links-1 {
        order: 2;
    }
    footer .col.links-2 {
        order: 2;
    }
    footer .col.copyright {
        order: 3;
    }
}

@media screen and (max-width: 1150px) {
    header {
        width: 80%;
    }
    header .meta {
        width: auto;
    }
    header #searchform {
        display: none;
    }
    header .magnifying-glass {
        display: block;
    }
    header #nav {
        display: none;
    }
    #hamburger_menu_toggle {
        display: block !important;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
    }
    #hamburger_menu_checkbox:checked + .hamburger-menu {
        display: block !important;
        position: absolute;
        top: 154px;
        z-index: 999;
        right: 0;
        width: 70%;
    }

    #main .banner.facility {
        height: auto !important;
    }
    .short-banner .banner-inner h2 {
        left: 20px !important;
    }
    .banner-inner {
        width: 90%;
    }
    .metaslider .flexslider {
        margin: 0 !important;
    }
    .banner.facility h2 {
        left: 0 !important;
    }
    .banner.facility h2,
    .banner.facility h2 span {
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
    }
    .banner a.gmap:link,
    .banner a.gmap:visited {
        right: 0;
    }
    .banner a.gmap::before,
    .banner a.gmap::after {
        display: none;
    }
    .content {
        flex-direction: column;
        width: 90% !important;
    }
    .content .main-col {
        order: 1;
        width: 100% !important;
    }
    .content .sidebar {
        order: 2;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    .sidebar .widget {
        width: 200px;
        margin: 15px;
    }
    .sidebar .menu {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    /*.lity-iframe .lity-container, .lity-youtube .lity-container, .lity-vimeo .lity-container, .lity-googlemaps .lity-container {*/
        /*max-width: 80% !important;*/
    /*}*/

    .foot-wrap {
        height: auto;
    }
    footer {
        flex-wrap: wrap;
        width: 65%;
        height: auto;
    }
    footer .col {
        width: 30%;
    }
    footer .col.address {
        order: 3;
    }
    footer .col.mission {
        order: 2;
    }
    footer .col.links-1 {
        order: 2;
    }
    footer .col.links-2 {
        order: 2;
    }
    footer .col.copyright {
        order: 4;
    }

}

@media screen and (max-width: 1000px) {
    /* TODO: Remove once invex sliders is fully live */
    .home-banner #cycle .slide .overlay {
        display: none;
    }
    .home-banner #cycle .slide .basic-overlay {
        display: block;
    }
    .home-banner #cycle ol.flex-control-nav {
        text-align: center;
        padding: 0;

        /*left: 0;*/
        /*top: 0;*/
        /*width: 100%;*/

        margin: 13px 0;
        left: 20px;
        top: inherit;
        bottom: 0;
    }
    /* TODO: Remove once invex sliders is fully live */

    .short-banner .banner-inner h2 {
        left: inherit !important;
    }

    .content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .content .home-col {
        width: 90% !important;
    }
    .content .home-col.mid {
        order: 2;
    }
    .content .home-col.left {
        order: 3;
    }
    .content .home-col.right {
        order: 1;
    }
}

@media screen and (max-width: 930px) {
    .foot-wrap {
        padding-bottom: 40px;
    }
    footer .col {
        width: 100%;
    }

    footer .col.address {
        order: 1;
        text-align: center;
    }
    footer .col.mission,
    footer .col.links-1,
    footer .col.links-2 {
        display: none;
    }
    footer .col.copyright {
        order: 2;
    }
}

@media screen and (max-width: 775px) {
    .headhesive {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    header .meta {
        float: none;
        margin-bottom: 20px;
    }
    header .meta ul.social {
        display: none;
    }
    header .meta .bids-rfps,
    header .meta .jobs {
        display: none;
    }
    header .logo {
        position: relative;
        top: inherit;
        right: initial;
        margin-bottom: 20px;
    }
    header .callouts {
        position: relative;
        top: inherit;
        right: initial;
        margin-bottom: 20px;
    }
    #hamburger_menu_toggle {
        display: block !important;
        position: relative;
        top: inherit;
        bottom: inherit;
        left: inherit;
        right: inherit;
        width: 100%;
    }
    #hamburger_menu_checkbox:checked + .hamburger-menu {
        display: block !important;
        position: absolute;
        top: 289px;
        left: inherit;
        width: 100%;
    }


    .short-banner .banner-inner h2 {
        top: 15px !important;
    }
    .short-banner .banner-inner h2,
    .short-banner .banner-inner h2 span {
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
    }
    .banner-inner {
        display: flex;
        flex-direction: column;
    }
    .banner-inner h2 {
        position: relative !important;
        top: inherit !important;
        text-align: center !important;
        left: inherit !important;
    }
    .banner a.gmap:link,
    .banner a.gmap:visited {
        position: relative !important;
        top: inherit !important;
        text-align: center !important;
        right: inherit !important;
    }

    #main .main-col-head h3 {
        position: inherit;
        right: inherit;
        top: inherit;
        bottom: inherit;
        left: inherit;
    }
    .events-main h3 .date {
        position: inherit;
        right: inherit;
        top: inherit;
        bottom: inherit;
        left: inherit;
    }

    .content-wrap img.alignright, .content-wrap img.alignleft {
        float: none;
        margin: 0 auto 20px;
    }

    table.alt.pic td:nth-child(2) {
        display: none;
    }
    table.alt.pic.picfirst td:first-child {
        display: none; !important;
    }
    table.alt.pic.picfirst td:nth-child(2) {
        display: block; !important;
    }
}
/* TODO: Remove once invex sliders is fully live */
@media screen and (max-width: 500px) {
    .home-banner #cycle .slide .basic-overlay .link {
        text-align: right;
        padding-right: 20px;
    }
}
/* TODO: Remove once invex sliders is fully live */
@media screen and (max-width: 450px) {
    header .callouts {
         flex-direction: column;
    }
    header .callouts .activity-guide {
         margin-bottom: 10px;
    }

    #hamburger_menu_checkbox:checked + .hamburger-menu {
        top: 333px;
    }
}