/*
Theme Name: PDHP Map Admin
Description: Custom styles for PDHP
Version: 1.0
Author: Andrew Sit
Author URI: http://www.invexdesign.com
*/

@charset "utf-8";
/* CSS Document */

/* ----- Forms / Content ----- */
.front-end-map-content {
    width: 74%;
    min-height: 450px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 12px;
    position: relative;
    margin-top: 15px;
}

.front-end-map-content #list_view {
    position: relative;
    width: 100%;
    /*height: 530px;*/
}

/*.front-end-map-content a:link, .front-end-map-content a:visited {*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

.front-end-map-content .list-tab a:link,
.front-end-map-content .list-tab a:visited,
{
    color: white;
    text-decoration: none;
}

.front-end-map-content #list_view a:link,
.front-end-map-content #list_view a:visited {
    color: white;
    text-decoration: underline;
    /*color: #3B94F3;*/
    /*text-decoration: none;*/
}

.front-end-map-content #list_view a:hover,
.front-end-map-content #list_view a:active {
    text-decoration: none;
    color: #002f65;
}

.front-end-map-content p {
    line-height: 1.4;
    margin: 0 0 20px 0;
    padding: 0;
    width: 650px;
}

.front-end-map-content table p {
    width: auto;
}

.front-end-map-content h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.front-end-map-content h3 {
    font-size: 14px;
    margin: 0 0 15px 0;
    line-height: initial;
    font-weight: normal;
    border: none;
    background-color: transparent;
    padding: 0;
    position: initial;
}

.front-end-map-content table {
    margin: 0 0 15px 0;
}

th, td {
    padding: 5px;
    vertical-align: top;
}

th {
    text-align: right;
}

.hidden {
    display: none;
}

.required {
    color: red;
    font-weight: bold;
}

.note {
    color: #999;
    font-size: 11px;
}

table.directory th {
    background: #3B94F3;
    color: #FFF;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #333;
}

table.directory td {
    border: 1px solid #333;
    font-size: 12px;
    padding: 5px;
}

table.directory td.actions {
    font-size: 11px;
}

table.directory tr.odd td {
    background: #CEE4FC;
}

.front-end-map-content p.message {
    background: #C2DEFB;
    border: 4px solid #3B94F3;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 10px;
}

input, textarea, select {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    width: 250px;
    height: 150px;
}

input.txt {
    width: 250px;
    padding: 4px;
}

input.small {
    width: 75px;
}

/* ----- Google Map ----- */
.front-end-map-content #mapWrapper {
    padding: 4px;
    border: 1px solid #CCC;
    position: absolute;
    top: 100px;
    right: 20px;
}

.front-end-map-content .map_caption {
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
    color: #333;
    position: absolute;
    right: 20px;
    top: 717px;
    width: 410px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.front-end-map-content #map_canvas form.directionsForm {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.front-end-map-content #map_canvas form.directionsForm .descriptor, #mainContent #map_canvas p {
    color: #555;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

#map_canvas h5 {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin: 0 0 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map_canvas .imgWrap {
    margin: 0 0 5px 0;
    text-align: center;
}

#map_canvas img {
    padding: 3px;
    border: 1px solid #CCC;
}

#map_canvas .caption {
    overflow: auto;
    font-size: 11px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.front-end-map-content #map_canvas .caption p, .front-end-map-content #map_canvas li {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    width: auto;
}

/* ----- Interactive Map Preview ----- */
.front-end-map-content table.interactiveMap {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.front-end-map-content table.interactiveMap td.map {
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 635px;
}

.front-end-map-content table.interactiveMap #view_tabs {
    border: none;
    background: none;
}

.front-end-map-content table.interactiveMap td.parkList {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.front-end-map-content table.interactiveMap td.bottomForm {
    margin: 0;
    padding: 10px 0 0 0;
}

.front-end-map-content table.interactiveMap td.bottomForm table.searchForm {
    float: left;
    margin: 0 45px 0 0;
    max-width: 320px;
}

.front-end-map-content table.interactiveMap td.bottomForm table.searchForm th {
    padding: 5px;
    text-align: right;
}

.front-end-map-content table.interactiveMap td.bottomForm table.searchForm td {
    padding: 5px;
}

.front-end-map-content table.interactiveMap td.bottomForm #additionalInfo {
    width: 470px;
    float: left;
    margin: 5px 45px 0 0;
    text-align: justify;
}

.front-end-map-content table.interactiveMap td.bottomForm #additionalInfo ul {
    margin: 0 0 15px 10px;
    padding: 0 0 0 5px;
    list-style: circle;
}

.front-end-map-content table.interactiveMap td.bottomForm #additionalInfo table {
    margin: 0 0 0 20px;
}

.front-end-map-content #map {
    border: 1px solid #666;
}

#map form.directionsForm {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#map form.directionsForm .descriptor, #map p {
    color: #555;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

#map h5 {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin: 0 0 5px 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map .caption {
    /*margin:10px 0 0 0;*/
    overflow: auto;
    font-size: 11px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

#map .caption p, #map .caption ul, #map .caption ol {
    width: auto;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#map .imgWrap {
    margin: 0 0 5px 0;
    text-align: center;
}

#map img {
    padding: 3px;
    border: 1px solid #CCC;
    margin: 0 auto;
}

#map table {
    margin: 0;
    padding: 0;
}

#map table th {
    padding: 2px 5px 2px 0;
    width: 50px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

#map table td {
    padding: 2px 0 2px 5px;
}

#wrapper .front-end-map-content p.info {
    text-align: center;
    margin-bottom: 5px;
    color: #006633;
    font-style: italic;
}

.feature-tabs {
    width: 100%;
}

.parkList #list {
    height: 530px;
}

/* full_search_map_list */
#all_markers {
    width: 100%;
}

.page-title {
    padding-left: 20px;
}

.search-results {
    width: 100%;
    height: 700px;
    padding: 0;
    margin: 0;
}

.search-container {
    padding-top: 58px;
    padding-left:30px;
}

.search-container #text_search {
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
}

.search-container .first {
    margin: 0;
}

.search-container.not-first {
    margin-top: 5px;
}

#features_form {
    overflow: auto;
    /*height: 495px;*/
}

#reset_button {
    margin-top: 10px;
    margin-left: 16px;
}

.tab {
    padding: 0;
}

.ui-tabs .ui-tabs-nav li.ui-state-default {
    margin-bottom: inherit;
    padding-bottom: inherit;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    opacity: 1;
    /*margin-bottom: 0;*/
    /*padding-bottom: 0;*/
}
.front-end-map-content .ui-tabs .ui-corner-all {
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
}

.ui-tabs .ui-tabs-nav li {
    background-color: rgb(0, 47, 101);
    opacity: 0.5;
    margin-right: 10px;
    padding: 5px;
    text-align:center;
}
.ui-tabs .ui-tabs-nav li:hover {
    opacity:1.0;
}
.ui-tabs .ui-tabs-nav li a {
    font-weight:700;
    color: white;
}

.tab-container .ui-widget-header {
    border: none;
    background: none;
    /*margin-bottom: 10px;*/
    /*border: 1px solid #002f65;*/
    /*background: #002f65 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;*/
}

.tab-container .tab {
    padding: 0;
}

/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {*/
/*border: 1px solid #4b7826;*/
/*background: #CECED6;*/
/*font-weight: normal;*/
/*color: #ffffff;*/
/*}*/

input.ui-state-default, .ui-widget-content input.ui-state-default, .ui-widget-header input.ui-state-default {
    background: #002f65;
    color: white;
    padding: 10px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
    font-weight: normal;
    color: #ffffff;
}

#list_view tr {
    width: 100%;
}

#list_view tr td {
    width: 50%;
}

.list-view-marker {
    position: relative;
    width: 95%;
    background-color: rgb(33, 109, 161); /*tomato;#5c8627 indianred lightsalmon tomato*/
    padding: 10px;
    margin: 0px;
    color: white;
    /*box-shadow: -2px 3px 4px black;*/
}

.list-view-marker .thumbnail {
    /*width: 25%;*/
    float: left;

    display: flex;
    align-items: center;
}

.list-view-marker .thumbnail img {
    border: 4px solid white;
    width: 100px;
}

.list-view-marker .description {
    /*width: 75%;*/
    float: left;
    margin-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-view-marker .description p {
    margin: 0px;
}

.how-to {
    padding-left: 20px;
}

#map_tab #map .caption {
    text-align: center;
    margin: 10px 0 0 0;
    overflow: visible;
    font-size: 11px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#map_tab #map .caption p {
    text-align: center;
}

/* ----- Clearer Div ----- */
div.clearer {
    clear: both;
    line-height: 1px;
    height: 1px;
}
