.tax-rate.widget {
    padding: 0px 20px;
}

.tax-rate.widget .entry:not(:first-child) {
    margin-top: 7.5px;
}

.tax-rate.widget .entry > .label {
    margin-bottom: 2px;
}

.tax-rate.widget .entry > .rate {
    position: relative;
    padding: 2.5px 10px;
    border-radius: 4px;
    overflow: hidden;
    background: #999;
}

.tax-rate.widget .entry > .rate > .fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    background: #2293C5;
    width: 0%;
    transition: 1200ms all linear;
}

.tax-rate.widget .entry > .rate > .fill:after {
    content: '';
    position: absolute;
    top: 0;
    right: -24px;
    border-top: 12.5px solid transparent;
    border-left: 12.5px solid #2293C5;
    border-bottom: 12.5px solid #2293C5;
    border-right: 12.5px solid transparent;
}

.tax-rate.widget .entry > .rate > .text {
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 0%;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    transition: 1000ms all linear;
}